<%- include('./partials/header') %>


<div class="container">
  <% if(locals.errors !== undefined) { %>
    <% errors.forEach(err => {  %>
      <p style="color: red;"><%= err.msg %></p>
    <% }) %>
  <% } %>

  <form action="#" method="post">
    <div>
        <label for="category-name">Name:</label>
        <input type="text" value="<%= locals.category === undefined ? "" : category.name %>" id="category-name" minlength="3" name="categoryName" required>
    </div>
    <br>
    <div>
        <label for="category-desc">Description:</label>
        <textarea type="text" id="category-desc" minlength="3" maxlength="100" name="categoryDesc" required><%= locals.category === undefined ? "" : category.description %></textarea>
    </div>
    <br>
    <button type="submit">Update Category</button>
  </form>
</div>


<%- include('./partials/footer') %>