<%- include('./partials/header') %>


<a href="/inventory/categories/create"><button>+ Add New Category</button></a>
<div class="container">
  <% categories.forEach((category) => { %>
    <h3><a href=<%= category.url %>><%= category.name %></a></h3>
    <p><%= category.description %></p>
    <hr>
  <% }) %>
</div>


<%- include('./partials/footer') %>