<%- include('./partials/header') %>


<div class="container">
    <h4><%= item.description %></h4>
    <p>Category: <a href=<%= item.category.url %>><%= item.category.name %></a></p>
    <p>$<%= item.price %></p>
    <p style="color:green"><%= item.numberInStock %> items in stock</p>
</div>


<%- include('./partials/footer') %>