<%- include('./partials/header') %>


<div class="container">
  <a href="/inventory/items/create"><button>+ Add New Item</button></a>
  <div class="items-container">
      <% items.forEach((item) => { %>
        <div>
            <p><a href=<%= item.url %>><%= item.name %></a></p>
            <p><%= item.description %></p>
            <p>Category: <a href=<%= item.category.url %>><%= item.category.name %></a></p>
            <p>$<%= item.price %></p>
            <p style="color:green"><%= item.numberInStock %> items in stock</p>
            <hr>
        </div>
      <% }) %>
  </div>
</div>


<%- include('./partials/footer') %>